.main-sidebar.open {
  transform: translateX(0);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.main-sidebar.closed {
  transform: translateX(-100%);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@media (min-width: 1024px) {
  .main-sidebar.closed {
    transform: translateX(0);
  }
}

