<!--<button [matMenuTriggerFor]="menu" class="flex items-center hover:bg-stone-100 rounded-full  px-1 py-1 profile-btn">-->
<!--  <span class="avatar">{{ userName()?.at(0) }}</span>-->
<!--  <span class="material-symbols-rounded text-stone-800">keyboard_arrow_up</span>-->
<!--</button>-->
<!--<mat-menu #menu="matMenu">-->
<!--  <div class="flex px-3 space-x-2 py-3">-->
<!--    <span class="avatar">S</span>-->
<!--    <span class="flex flex-col">-->
<!--      <span class="font-bold">{{ userName() }}</span>-->
<!--      <span>{{ userEmail() }}</span>-->
<!--    </span>-->
<!--  </div>-->
<!--&lt;!&ndash;  <div class="border-t-stone-300 border">&ndash;&gt;-->
<!--    <a routerLink="/profile" class="px-3" mat-menu-item>Manage Profile</a>-->
<!--    <button (click)="logout()" mat-menu-item>{{ 'AUTH_SIGN_OUT'}}</button>-->
<!--  </div>-->
<!--</mat-menu>-->
