<button [matMenuTriggerFor]="menu" class="flex items-center hover:bg-stone-100 rounded-full  px-1 py-1 profile-btn">
  <span class="avatar">{{ 'username' }}</span>
  <span class="material-symbols-rounded text-stone-800"><mat-icon>keyboard_arrow_up</mat-icon></span>
</button>
<mat-menu #menu="matMenu">
  <div class="flex px-3 space-x-2 py-3">
<!--    <span class="avatar">S</span>-->
    <span class="flex flex-col">
      <span class="font-bold">{{ 'username' }}</span>
      <span>{{ 'email' }}</span>
    </span>
  </div>
  <div class="border-t-stone-300 border">
    <a routerLink="/profile" class="px-3" mat-menu-item>Manage Profile</a>
    <button mat-menu-item>{{ 'Sign Out'}}</button>
  </div>
</mat-menu>
