<div class="drawer-container" [class.open]="open">
  <div class="pointer-events-auto relative w-screen max-w-md">
    <div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
      <div class="px-4 sm:px-6 flex justify-between items-center">
        <h6 class="text-2xl font-semibold m-0 text-gray-900" id="slide-over-title">{{ title }}</h6>
        <button (click)="closeDrawer.emit()"   class="mb-3 border rounded-lg flex w-10 h-10 justify-center items-center">
          <span  class=" "><mat-icon>close</mat-icon></span>
        </button>
      </div>
      <div class="relative mt-6 flex-1 px-4 sm:px-6">
        <ng-content/>
      </div>
    </div>
  </div>
</div>
