.drawer-container {
  @apply pointer-events-none fixed right-0 inset-y-0 flex max-w-full pl-10 transition-all;
  transform: translateX(100%);
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 500ms;
  z-index: 10
}

.drawer-container.open {
  transform: translateX(0%);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
