
<app-page-header title="PHONEBOOK"></app-page-header>
<div class="container-general">
  <mat-card>
    <div class="" style="display: flex; justify-content: space-between">
      <button (click)="toggleView()" mat-fab extended>
        Switch to {{ isGridView ? 'List' : 'Grid' }} View
        <mat-icon>{{isGridView ?  'view_module' : 'view_list'}}</mat-icon>
      </button>
      <button (click)="onCreateNew()" mat-fab extended>
        add new
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
  <div [ngClass]="{'api-grid-new': isGridView, 'list-view': !isGridView}" >
    @for(item of contactList(); track $index) {
      <div class="item ">
        @if (isGridView) {
          <div class="grid-item api-grid-new">
            <app-contact-card [contact]="item" (menuTrigger)="handleMenuAction($event)"></app-contact-card>
          </div>
        } @else {
          <div  class="list-item">
            <app-contact-card [contact]="item" (menuTrigger)="handleMenuAction($event)"></app-contact-card>
          </div>
        }
<!--        @if (!isGridView){-->
<!--          -->
<!--        }-->
      </div>
    }
  </div>
</div>

<app-drawer (closeDrawer)="handleDrawerClose()" [title]="'Contact #' + (selectedContact)?.firstName"
            [open]="!!(selectedContact )">
  <app-contact-details [contact]="(selectedContact) "></app-contact-details>
</app-drawer>


