$varX: #1dc5b7dc;

.container-main {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  border-radius: 0.8em;
  padding: 1rem;
  margin: 1.5rem;
}

.container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: auto;
  //background-color: #bd2222;
  //margin: 2rem 0rem 2rem 0;
}

.container-top > div {
  align-self: center;
  //color: rgb(173, 25, 25);
  font-size: 23px;
}

button {
}

.grid-view {
  //display: flex;
  //flex-wrap: wrap;
}

.grid-item {
  //width: calc(33.33% - 10px);
  margin: 5px;
}

.list-view {
  display: block;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 300px;
}

//
table {
  background: white;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
  @apply border-b-stone-300 border-t-0
}

.mat-mdc-row:hover .mat-mdc-cell {
  @apply bg-zinc-100;
  @apply transition-all;
}

.mat-mdc-row td:first-child {
  border-top-left-radius:  9999px;
  border-bottom-left-radius: 9999px;
}

.mat-mdc-row td:last-child {
  border-top-right-radius:  9999px;
  border-bottom-right-radius:  9999px;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-mdc-card {
  padding: 10px;
  margin: 20px 0 20px 0;

  @media  (min-width: 768px) {
    //display: flex;
    flex-wrap: nowrap;
  }
}
