<!-- <div>
  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="2:0.5"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile>
      <div>123</div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
  </mat-grid-list>
</div> -->
<app-page-header title="PHONE"></app-page-header>

<div>
  <button (click)="toggleView()">
    Switch to {{ isGridView ? 'List' : 'Grid' }} View
  </button>
</div>

<div [ngClass]="{'grid-view': isGridView, 'list-view': !isGridView}">
  <div *ngFor="let item of products" class="item">
    <div *ngIf="isGridView" class="grid-item">
      <!-- Grid item layout -->
<!--      <img [src]="item.image" alt="{{ item.name }}">-->
      <p>{{ item.name }}</p>
    </div>
    <div *ngIf="!isGridView" class="list-item">
      <!-- List item layout -->
      <h3>{{ item.name }}</h3>
      <img [src]="item.image" alt="{{ item.name }}" style="width:50px;">
    </div>
  </div>
</div>
