.mat-mdc-card {
  padding: 20px;
  .mat-mdc-card-title {
    padding: 20px;
    h5 {
      text-align: center;
      //display: flex;
      //align-items: center;
      //justify-content: ;
    }
    .mat-mdc-card-content {
      padding: 10px;
    }
  }
}
