<div class="flex h-full w-full flex-col">
  <div class="mb-8 flex h-5 shrink-0 items-center px-4 justify-between">
    <div class="flex space-x-2 items-center">
      <app-logo classNames="w-8 h-8"/>
      <span class="font-bold">Kurasa  Phonebook</span>
    </div>
    <button (click)="toggleSidebar()" class="w-10 h-10 hover:bg-lr-300 rounded-full flex lg:hidden justify-center items-center">
      <span class=""><mat-icon>close</mat-icon></span>
    </button>
  </div>
  <div class="px-4 flex-1">
    <app-main-menu [menu]="menuItems"/>
  </div>
  <div class="px-4">
<!--    <app-user-profile-button/>-->
  </div>
</div>
